<div class="inset">

	<header>

		<% if (profile_image_url) { %>

		<div class="avatar">

			<img src="<%= profile_image_url %>">

		</div>

		<% } %>

		<h3><% if (tweet_name) { print(tweet_name); } else { print(title); } %></h3>
	</header>

	<% if (ranking > 0) { %>

		<% if (ranking <= 5 && ranking > 0) { %>

			<p>I will be known <%= tweet_type %> <%= tweet_body %> <a href="https://twitter.com/search?q=%23Catalyst&src=hash" target="_blank">#catalyst</a></p>

		<% } %>

		<div class="tweet_btns">

			<% if (ranking <= 5 && ranking > 0) { %>

				<a href="#" id="fav_btn" class="tweet_btn"></a>
				<a href="#" id="retweet_btn" class="tweet_btn"></a>

			<% } else if (ranking > 5) { %>

				<a href="#" id="read_btn" class="tweet_btn"></a>

			<% } %>

		</div>

	<% } %>

</div>