

	<article class="Article">

		<!-- Article Header Info -->

		<div id="article_header">

			<div id="article_info">

				<div class="close_article">

					<div class="container">

						<a href="#" class="close_article_btn">Close</a>

					</div>

				</div>

				<div class="container">

					<div class="row">

						<div class="span4">

							<div id="article_share">

								<!-- <a href="#" class="bookmark_btn"></a> -->

								<h3>Share This</h3>

								<div id="addthis_toolbox" class="social_links addthis_toolbox">

									<a href="#" class="social_link facebook_link addthis_button_facebook"></a>

									<a href="#" class="social_link twitter_link addthis_button_twitter"></a>

		              <a href="#" class="social_link linkedin_link addthis_button_linkedin"></a>

		            </div>

		          </div>

						</div>

						<div class="span8">

							<div class="entry_content_type"></div>

							<header>

								<h1></h1>

							</header>

							<footer class="entry_authors">

								<!-- Authors Playa -->

								<cite></cite>

							</footer>

						</div>

					</div>

				</div>

			</div>

		</div>

		<div id="article_content">

			<div class="container">

				<div class="row">

					<div class="span3">

						<!-- Sidebar -->

						<% if(cat.Options.screenType != 'phone') { %>

						<aside id="sidebar">

							<!--<h3>Sweet Deals</h3>

							<hr>-->

							<div class="spots">

								<article class="spot">

									<a href="http://catalystleader.com/" target="_blank">

										<div class="inset">

											<header>

												<h3><span>The Catalyst Leader Book</span></h3>

											</header>

											<p>Purchase The Catalyst Leader Book before April 21st & receive $300 of FREE resources.</p>

										</div>

									</a>

								</article>

								<article class="spot">

									<a href="http://www.catalystconference.com/atlanta">

										<div class="inset">

											<header>

												<h3><span>Catalyst Atlanta 2013</span></h3>

											</header>

											<p>Stay tuned — speakers to be announced May 1st</p>

										</div>

									</a>

								</article>

							</div>

						</aside>

						<% } %>

					</div>

					<div class="span8 offset1">

						<!-- Main Article Content -->

						<div id="main_content">

							<div style="min-height:500px;"></div>

							<div id="addthis_toolbox2" class="social_links addthis_toolbox">

								<span>Share This</span>

								<a href="#" class="social_link facebook_link addthis_button_facebook"></a>

								<a href="#" class="social_link twitter_link addthis_button_twitter"></a>

	              <a href="#" class="social_link linkedin_link addthis_button_linkedin"></a>

            	</div>

							<hr>

							<div class="comments">

<!-- 								<h3>Comments</h3> -->

								<div id="disqus_thread"></div>

							</div>

							<% if(cat.Options.screenType == 'phone') { %>

								<aside id="sidebar">

									<!--<h3>Sweet Deals</h3>

									<hr>-->

									<div class="spots">

										<article class="spot">

											<a href="http://catalystleader.com/" target="_blank">

												<div class="inset">

													<header>

														<h3><span>The Catalyst Leader Book</span></h3>

													</header>

													<p>Purchase The Catalyst Leader Book before April 21st & receive $300 of FREE resources.</p>

												</div>

											</a>

										</article>

										<article class="spot">

											<a href="http://www.catalystconference.com/atlanta">

												<div class="inset">

													<header>

														<h3><span>Catalyst Atlanta 2013</span></h3>

													</header>

													<p>Stay tuned — speakers to be announced May 1st</p>

												</div>

											</a>

										</article>

									</div>

								</aside>

								<% } %>

						</div>

					</div>

				</div>

			</div>

		</div>

	</article>